<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px"> 

# Project 1: Project 2 - Singapore Housing Data and Kaggle Challenge

--- 
# Part 2 Modeling and refining
---

# Contents:
- [Problem Statement](#Problem-Statement)
- [All imports](#All-imports)
- [Preprocessing](#Preprocessing)
- [Data Dictionary](#Data-Dictionary)
- [Train-Test Split](#Train-Test-Split)
- [Linear Regression](#Linear-Regression)
- [Ridge Regression](#Ridge-Regression)
- [Lasso Regression](#Lasso-Regression)
- [Predictions](#Predictions)

## Problem Statement

Housing pricing affects the decision making process of buyers in their assessment of the unit. This project attempts to build a linear regression model, using the data contain in the dataset folder. The goal is to have the model accurately predict the sales price of the houses in the test set, which will be evaluated based on common evaluation metrics such as R2 and RMSE.
This will give those who are impacted by housing prices, e.g. owners, buyers and agents additional data to inform their own decision making process.

## All imports
Libraries and data imports

In [1]:
# Imports:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression, LassoCV, Lasso, RidgeCV, Ridge
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures, PowerTransformer
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict
from sklearn.metrics import r2_score, mean_squared_error
import statsmodels.api as sm

In [2]:
df = pd.read_csv('../../data/output/cleaner_train.csv')

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149772 entries, 0 to 149771
Data columns (total 32 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   flat_type                  149772 non-null  object
 1   street_name                149772 non-null  object
 2   floor_area_sqm             149772 non-null  float64
 3   flat_model                 149772 non-null  object
 4   resale_price               149772 non-null  float64
 5   Tranc_Year                 149772 non-null  int64
 6   Tranc_Month                149772 non-null  int64
 7   mid                        149772 non-null  int64
 8   max_floor_lvl              149772 non-null  int64
 9   commercial                 149772 non-null  int64
 10  market_hawker              149772 non-null  int64
 11  multistorey_carpark        149772 non-null  int64
 12  precinct_pavilion          149772 non-null  int64
 13  planning_area              149772 non-null  object
 14  Mall_Nearest_Distance      149772 non-null  float64
 15  Mall_Within_500m           149772 non-null  float64
 16  Mall_Within_1km            149772 non-null  float64
 17  Mall_Within_2km            149772 non-null  float64
 18  Hawker_Nearest_Distance    149772 non-null  float64
 19  Hawker_Within_500m         149772 non-null  float64
 20  Hawker_Within_1km          149772 non-null  float64
 21  Hawker_Within_2km          149772 non-null  float64
 22  mrt_nearest_distance       149772 non-null  float64
 23  bus_interchange            149772 non-null  int64
 24  mrt_interchange            149772 non-null  int64
 25  bus_stop_nearest_distance  149772 non-null  float64
 26  pri_sch_nearest_distance   149772 non-null  float64
 27  pri_sch_name               149772 non-null  object
 28  pri_sch_affiliation        149772 non-null  int64
 29  sec_sch_name               149772 non-null  object
 30  cutoff_point               149772 non-null  int64
 31  transaction_age            149772 non-null  int64
dtypes: float64(13), int64(13), object(6)
memory usage: 36.6+ MB

## Preprocessing
As mentioned in Part1 (EDA), some features would have to engineered, e.g. remaining lease at point of sale, storey level and the max floor level could be combined to hopefully increase the fit of the feature

### Initial Feature engineering

In [4]:
df['transaction_age'] = df['Tranc_Year'] - df['lease_commence_date']
df.drop(columns = ['lease_commence_date'], inplace = True)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149772 entries, 0 to 149771
Data columns (total 45 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   flat_type                  149772 non-null  object
 1   street_name                149772 non-null  object
 2   floor_area_sqm             149772 non-null  float64
 3   flat_model                 149772 non-null  object
 4   resale_price               149772 non-null  float64
 5   Tranc_Year                 149772 non-null  int64
 6   Tranc_Month                149772 non-null  int64
 7   mid                        149772 non-null  int64
 8   max_floor_lvl              149772 non-null  int64
 9   commercial                 149772 non-null  int64
 10  market_hawker              149772 non-null  int64
 11  multistorey_carpark        149772 non-null  int64
 12  precinct_pavilion          149772 non-null  int64
 13  total_dwelling_units       149772 non-null  int64
 14  1room_sold                 149772 non-null  int64
 15  2room_sold                 149772 non-null  int64
 16  3room_sold                 149772 non-null  int64
 17  4room_sold                 149772 non-null  int64
 18  5room_sold                 149772 non-null  int64
 19  exec_sold                  149772 non-null  int64
 20  multigen_sold              149772 non-null  int64
 21  studio_apartment_sold      149772 non-null  int64
 22  1room_rental               149772 non-null  int64
 23  2room_rental               149772 non-null  int64
 24  3room_rental               149772 non-null  int64
 25  other_room_rental          149772 non-null  int64
 26  planning_area              149772 non-null  object
 27  Mall_Nearest_Distance      149772 non-null  float64
 28  Mall_Within_500m           149772 non-null  float64
 29  Mall_Within_1km            149772 non-null  float64
 30  Mall_Within_2km            149772 non-null  float64
 31  Hawker_Nearest_Distance    149772 non-null  float64
 32  Hawker_Within_500m         149772 non-null  float64
 33  Hawker_Within_1km          149772 non-null  float64
 34  Hawker_Within_2km          149772 non-null  float64
 35  mrt_nearest_distance       149772 non-null  float64
 36  bus_interchange            149772 non-null  int64
 37  mrt_interchange            149772 non-null  int64
 38  bus_stop_nearest_distance  149772 non-null  float64
 39  pri_sch_nearest_distance   149772 non-null  float64
 40  pri_sch_name               149772 non-null  object
 41  pri_sch_affiliation        149772 non-null  int64
 42  sec_sch_name               149772 non-null  object
 43  cutoff_point               149772 non-null  int64
 44  transaction_age            149772 non-null  int64
dtypes: float64(13), int64(26), object(6)
memory usage: 51.4+ MB

In [6]:
#from OLS of previous iteration 
drop_list = ['flat_model',
             '2room_sold',
             'multigen_sold',
             '5room_sold',
             'total_dwelling_units',
             '4room_sold',
             '1room_rental',
             '3room_sold',
             'studio_apartment_sold',
             '3room_rental',
             '1room_sold',
             'exec_sold',
             '2room_rental',
             'other_room_rental']

In [7]:
df.drop(columns = drop_list, inplace = True)
print(df.shape)
df.info()

(149772, 32)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149772 entries, 0 to 149771
Data columns (total 32 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   flat_type                  149772 non-null  object
 1   street_name                149772 non-null  object
 2   floor_area_sqm             149772 non-null  float64
 3   flat_model                 149772 non-null  object
 4   resale_price               149772 non-null  float64
 5   Tranc_Year                 149772 non-null  int64
 6   Tranc_Month                149772 non-null  int64
 7   mid                        149772 non-null  int64
 8   max_floor_lvl              149772 non-null  int64
 9   commercial                 149772 non-null  int64
 10  market_hawker              149772 non-null  int64
 11  multistorey_carpark        149772 non-null  int64
 12  precinct_pavilion          149772 non-null  int64
 13  planning_area              149772 non-null  object
 14  Mall_Nearest_Distance      149772 non-null  float64
 15  Mall_Within_500m           149772 non-null  float64
 16  Mall_Within_1km            149772 non-null  float64
 17  Mall_Within_2km            149772 non-null  float64
 18  Hawker_Nearest_Distance    149772 non-null  float64
 19  Hawker_Within_500m         149772 non-null  float64
 20  Hawker_Within_1km          149772 non-null  float64
 21  Hawker_Within_2km          149772 non-null  float64
 22  mrt_nearest_distance       149772 non-null  float64
 23  bus_interchange            149772 non-null  int64
 24  mrt_interchange            149772 non-null  int64
 25  bus_stop_nearest_distance  149772 non-null  float64
 26  pri_sch_nearest_distance   149772 non-null  float64
 27  pri_sch_name               149772 non-null  object
 28  pri_sch_affiliation        149772 non-null  int64
 29  sec_sch_name               149772 non-null  object
 30  cutoff_point               149772 non-null  int64
 31  transaction_age            149772 non-null  int64
dtypes: float64(13), int64(13), object(6)
memory usage: 36.6+ MB

|        Feature Name       |                        Feature Description per data source                        |
|:-------------------------:|:---------------------------------------------------------------------------------:|
| resale_price              |  the property's sale price in Singapore dollars. This is the target variable that |
| flat_type                 |  type of the resale flat unit, e.g.   3 ROOM                                      |
| street_name               |  street name where the resale flat   resides, e.g. TAMPINES ST 42                 |
| floor_area_sqm            |  floor area of the resale flat unit   in square metres                            |
| flat_model                |  HDB model of the resale flat, e.g.   Multi Generation                            |
| lease_commence_date       |  commencement year of the flat   unit's 99-year lease                             |
| Tranc_Year                |  year of resale transaction                                                       |
| Tranc_Month               |  month of resale transaction                                                      |
| mid                       |  middle value of storey_range                                                     |
| max_floor_lvl             |  highest floor of the resale flat                                                 |
| commercial                |  boolean value if resale flat has   commercial units in the same block            |
| market_hawker             |  boolean value if resale flat has a   market or hawker centre in the same block   |
| multistorey_carpark       |  boolean value if resale flat has a   multistorey carpark in the same block       |
| precinct_pavilion         |  boolean value if resale flat has a   pavilion in the same block                  |
| planning_area             |  Government planning area that the   flat is located                              |
| Mall_Nearest_Distance     |  distance (in metres) to the   nearest mall                                       |
| Mall_Within_500m          |  number of malls within 500 metres                                                |
| Mall_Within_1km           |  number of malls within 1 kilometre                                               |
| Mall_Within_2km           |  number of malls within 2   kilometres                                            |
| Hawker_Nearest_Distance   |  distance (in metres) to the   nearest hawker centre                              |
| Hawker_Within_500m        |  number of hawker centres within   500 metres                                     |
| Hawker_Within_1km         |  number of hawker centres within 1   kilometre                                    |
| Hawker_Within_2km         |  number of hawker centres within 2   kilometres                                   |
| mrt_nearest_distance      |  distance (in metres) to the   nearest MRT station                                |
| bus_interchange           |  boolean value if the nearest MRT   station is also a bus interchange             |
| mrt_interchange           |  boolean value if the nearest MRT   station is a train interchange station        |
| bus_stop_nearest_distance |  distance (in metres) to the   nearest bus stop                                   |
| pri_sch_nearest_distance  |  distance (in metres) to the   nearest primary school                             |
| pri_sch_name              |  name of the nearest primary school                                               |
| pri_sch_affiliation       |  boolean value if the nearest   primary school has a secondary school affiliation |
| sec_sch_name              |  name of the nearest secondary   school                                           |
| cutoff_point              |  PSLE cutoff point of the nearest   secondary school                              |

### Train-Test Split
The dataframe is split into a train set and a hold out 'test' set. <br>
As was done in the EDA, the features are split into numerical and caategorical for processing before combining back later on.

In [8]:
features = df.columns.to_list()
features.remove('resale_price')

In [9]:
#Create features matrix (X) and target vector (y)
y = df['resale_price']
X = df[features]

In [10]:
#train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123)

In [11]:
cat_feat = ['flat_type', 'flat_model', 'street_name', 'commercial', 'market_hawker',   
            'multistorey_carpark', 'precinct_pavilion', 'planning_area', 'bus_interchange', 
            'mrt_interchange', 'pri_sch_name', 'pri_sch_affiliation', 'sec_sch_name'
           ]
num_feat = list(set(features) - set(cat_feat))

### Numerical features
Standard scalar will be applied scale the individual features for modelling since there is a wide range of values within.

In [12]:
# use sklearn StandardScaler for train set
ss = StandardScaler()
X_train_num_scaled = pd.DataFrame(ss.fit_transform(X_train[num_feat]))
X_test_num_scaled = pd.DataFrame(ss.transform(X_test[num_feat]))
X_train_num_scaled.columns = X_train[num_feat].columns
X_test_num_scaled.columns = X_test[num_feat].columns

In [13]:
X_train_num_scaled

,Mall_Within_1km,Mall_Nearest_Distance,Mall_Within_2km,Hawker_Within_500m,Tranc_Year,bus_stop_nearest_distance,mrt_nearest_distance,transaction_age,max_floor_lvl,Mall_Within_500m,Hawker_Nearest_Distance,pri_sch_nearest_distance,Hawker_Within_1km,mid,cutoff_point,floor_area_sqm,Hawker_Within_2km,Tranc_Month
0,0.142231,0.697390,-0.056933,-0.639332,-0.172090,0.043367,1.217885,-0.436830,-0.017258,-0.671314,-0.231896,-0.982031,-0.241507,-0.048992,-1.107259,0.894109,-0.451629,-0.172644
1,1.548442,-1.295222,1.097444,-0.639332,0.922329,-0.552277,-1.182624,-0.352343,2.401785,3.424053,0.082751,-0.438532,-0.824898,1.045130,-1.107259,0.975940,-0.700918,-1.071769
2,-0.560874,-0.869960,0.231661,-0.639332,0.922329,-0.215541,-1.174373,0.577014,-0.662337,0.693809,0.134040,0.641285,-0.824898,-0.048992,-1.057314,1.998830,-0.700918,0.127064
3,-0.560874,-0.603098,-0.634122,1.958586,-1.266509,-0.772176,-0.293837,0.577014,-0.501067,0.693809,-0.757778,-0.394824,0.341884,-0.048992,-1.107259,-0.660683,0.046949,1.325897
4,-0.560874,0.620261,-0.634122,0.659627,-0.172090,-0.251724,0.022902,0.745988,-0.662337,-0.671314,-0.699184,0.121074,0.341884,-1.143114,1.240134,-0.169696,1.791971,-1.371477
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112324,-1.263980,1.166863,0.520256,0.659627,-0.536896,-1.542915,-1.011052,-1.281700,1.595437,-0.671314,-0.944423,3.172083,0.925274,1.592191,0.690745,-0.292442,2.290548,-1.071769
112325,-1.263980,0.963408,-0.634122,0.659627,0.922329,-0.028837,0.711000,1.590857,-0.178528,-0.671314,-0.869708,2.155829,-0.241507,-0.048992,-1.107259,-1.315332,-0.451629,-0.772061
112326,-0.560874,0.180434,-0.056933,1.958586,1.287135,1.086486,0.514377,1.590857,0.144011,-0.671314,-0.758644,-0.720921,1.508665,-0.048992,1.939358,-0.292442,1.293393,1.026189
112327,-1.263980,1.086927,0.231661,1.958586,0.922329,1.057931,-0.683963,1.590857,-0.501067,-0.671314,-0.770636,-0.431725,0.925274,-0.596053,-1.057314,-0.988007,1.791971,0.426773
112328,0.142231,0.519702,0.808850,-0.639332,0.557522,-0.145652,0.428496,-0.605804,0.144011,-0.671314,0.465665,-0.909208,-0.824898,-0.596053,1.639691,-0.292442,-0.700918,0.127064

### Categorical features
One Hot encoding will be used to dummify the categorical columns into a matrix.

In [14]:
#calling out categories to look for non binary cat.
train_cat_df = X_train[cat_feat].reset_index()
test_cat_df = X_test[cat_feat].reset_index()
train_cat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112329 entries, 0 to 112328
Data columns (total 14 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                112329 non-null  int64
 1   flat_type            112329 non-null  object
 2   flat_model           112329 non-null  object
 3   street_name          112329 non-null  object
 4   commercial           112329 non-null  int64
 5   market_hawker        112329 non-null  int64
 6   multistorey_carpark  112329 non-null  int64
 7   precinct_pavilion    112329 non-null  int64
 8   planning_area        112329 non-null  object
 9   bus_interchange      112329 non-null  int64
 10  mrt_interchange      112329 non-null  int64
 11  pri_sch_name         112329 non-null  object
 12  pri_sch_affiliation  112329 non-null  int64
 13  sec_sch_name         112329 non-null  object
dtypes: int64(8), object(6)
memory usage: 12.0+ MB

For those with object type, it is likely string values hence it will be one hot encoded. However, the list will be refined so that categories with less datapoints can be combined to have data points as a group for modelling.

In [15]:
#set list with object dtype to OHE
cat_list = list(train_cat_df.dtypes[train_cat_df.dtypes == object].index)
cat_list

['flat_type',
 'flat_model',
 'street_name',
 'planning_area',
 'pri_sch_name',
 'sec_sch_name']

In [16]:
#set threshold
round(train_cat_df.shape[0]*0.0001)

11

In [17]:
#setup OHE
OHE = OneHotEncoder(sparse_output = False, handle_unknown = 'infrequent_if_exist', min_frequency = 0.0001)
train_OHE_cat_df = pd.DataFrame(OHE.fit_transform(train_cat_df[cat_list]), columns = OHE.get_feature_names_out())
test_OHE_cat_df = pd.DataFrame(OHE.transform(test_cat_df[cat_list]), columns = OHE.get_feature_names_out())
train_OHE_cat_df.tail()

,flat_type_1 ROOM,flat_type_2 ROOM,flat_type_3 ROOM,flat_type_4 ROOM,flat_type_5 ROOM,flat_type_EXECUTIVE,flat_type_MULTI-GENERATION,flat_model_Adjoined flat,flat_model_Apartment,flat_model_DBSS,...,sec_sch_name_Yio Chu Kang Secondary School,sec_sch_name_Yishun Secondary School,sec_sch_name_Yishun Town Secondary School,sec_sch_name_Yuan Ching Secondary School,sec_sch_name_Yuhua Secondary School,sec_sch_name_Yusof Ishak Secondary School,sec_sch_name_Yuying Secondary School,sec_sch_name_Zhenghua Secondary School,sec_sch_name_Zhonghua Secondary School,sec_sch_name_infrequent_sklearn
112324,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112325,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112326,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112327,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
112328,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#concat categories train sets
train_cat_df = pd.concat([train_cat_df, train_OHE_cat_df], axis = 1)
train_cat_df.drop(columns = cat_list, inplace = True)
#concat categories test set
test_cat_df = pd.concat([test_cat_df, test_OHE_cat_df], axis = 1)
test_cat_df.drop(columns = cat_list, inplace = True)

In [19]:
#concat train set
Z_train = pd.concat([X_train_num_scaled, train_cat_df], axis = 1)
Z_train.set_index('index', inplace = True)

#concat test set
Z_test = pd.concat([X_test_num_scaled, test_cat_df], axis = 1)
Z_test.set_index('index', inplace = True)

Z_train.head()

,Mall_Within_1km,Mall_Nearest_Distance,Mall_Within_2km,Hawker_Within_500m,Tranc_Year,bus_stop_nearest_distance,mrt_nearest_distance,transaction_age,max_floor_lvl,Mall_Within_500m,...,sec_sch_name_Yio Chu Kang Secondary School,sec_sch_name_Yishun Secondary School,sec_sch_name_Yishun Town Secondary School,sec_sch_name_Yuan Ching Secondary School,sec_sch_name_Yuhua Secondary School,sec_sch_name_Yusof Ishak Secondary School,sec_sch_name_Yuying Secondary School,sec_sch_name_Zhenghua Secondary School,sec_sch_name_Zhonghua Secondary School,sec_sch_name_infrequent_sklearn
index,,,,,,,,,,,,,,,,,,,,,
30484,0.142231,0.697390,-0.056933,-0.639332,-0.172090,0.043367,1.217885,-0.436830,-0.017258,-0.671314,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
87242,1.548442,-1.295222,1.097444,-0.639332,0.922329,-0.552277,-1.182624,-0.352343,2.401785,3.424053,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79640,-0.560874,-0.869960,0.231661,-0.639332,0.922329,-0.215541,-1.174373,0.577014,-0.662337,0.693809,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
63804,-0.560874,-0.603098,-0.634122,1.958586,-1.266509,-0.772176,-0.293837,0.577014,-0.501067,0.693809,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
146273,-0.560874,0.620261,-0.634122,0.659627,-0.172090,-0.251724,0.022902,0.745988,-0.662337,-0.671314,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Modelling
- [Linear Regression](#Linear-Regression)
- [Ridge Regression](#Ridge-Regression)
- [Lasso Regression](#Lasso-Regression)

### Linear Regression

In [20]:
#Instantiate your model
lr = LinearRegression()

#Obtain Cross-validation scores|
print(cross_val_score(lr, Z_train, y_train, cv =5))

#Obtain MEAN Cross-validation score
cross_val_score(lr, Z_train, y_train).mean()

[0.9249671  0.92449641 0.92345193 0.9248693  0.92266924]

0.9240907448215194

In [21]:
# Train your model
lr.fit(Z_train, y_train)

#Generate predictions
y_train_preds = lr.predict(Z_train)
y_test_preds = lr.predict(Z_test)

In [22]:
# Train score:
lr.score(Z_train, y_train)

0.92551526103617

In [23]:
# Test score:
lr.score(Z_test, y_test)

-1564517453.1376903

In [24]:
#MSE
train_MSE = mean_squared_error(y_train, y_train_preds)
test_MSE = mean_squared_error(y_test, y_test_preds)
#RMSE 
print(np.sqrt(train_MSE))
print(np.sqrt(test_MSE))

39089.893775248216
5664718809.232266

### Ridge Regression

In [25]:
#alpha_list = np.logspace(-3, 1, 10)
ridgecv = RidgeCV(alphas = np.logspace(-3, 1, 10) , scoring='r2', cv = 5)
ridgecv.fit(Z_train, y_train)

RidgeCV(alphas=array([1.00000000e-03, 2.78255940e-03, 7.74263683e-03, 2.15443469e-02,
       5.99484250e-02, 1.66810054e-01, 4.64158883e-01, 1.29154967e+00,
       3.59381366e+00, 1.00000000e+01]),
        cv=5, scoring='r2')

In [26]:
#optimal alpha
ridgecv.alpha_

0.021544346900318832

In [27]:
#Instantiate the model
ridge = Ridge(alpha = ridgecv.alpha_)
ridge_scores = cross_val_score(ridge, Z_train, y_train, cv = 5)

print (ridge_scores)
print (np.mean(ridge_scores))

[0.92495587 0.92446998 0.92347839 0.92487497 0.92268616]
0.9240930731447097

In [28]:
#Retrain ridge
ridge.fit(Z_train, y_train)

#Generate predictions
y_train_preds = ridge.predict(Z_train)
y_test_preds = ridge.predict(Z_test)

In [29]:
# Train score:
ridge_train_score = ridge.score(Z_train, y_train)
ridge_train_score

0.9255133922192182

In [30]:
# Test  score:
ridge_test_score = ridgecv.score(Z_test, y_test)
ridge_test_score

0.9241482420672579

In [31]:
#MSE
train_MSE = mean_squared_error(y_train, y_train_preds)
test_MSE = mean_squared_error(y_test, y_test_preds)
#RMSE 
print(np.sqrt(train_MSE))
print(np.sqrt(test_MSE))

39090.38415353868
39443.09410178983

### Lasso Regression

In [32]:
l_alphas = np.logspace(-3, 1, 10)

lassocv = LassoCV(alphas=l_alphas, cv=5, max_iter=1000)

lassocv.fit(Z_train, y_train)

C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 549098108040.03125, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 200703488893.42188, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3875951840152.5625, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 8443299165575.984, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 32644465500687.406, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49598772376158.28, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 58646746950444.52, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 63103692676186.516, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 65283651811134.89, tolerance: 183876531387.44037
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 433779499395.40625, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3172602652126.7188, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 42982244830679.5, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 39142752286188.36, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 50515353377790.56, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 60912790163247.68, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 64364647974086.54, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 65910567544348.09, tolerance: 183895226173.57632
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 434515559285.8281, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2150761162022.1562, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 7104804625123.594, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 12948092381704.656, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 15572380039102.125, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 45484648080414.97, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 57692119286762.375, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 62941434042411.73, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 65522216236052.39, tolerance: 185019062274.13406
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 511981245553.75, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5114914487784.516, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 34829114643049.266, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 32151483126171.86, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 49852084559949.91, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 60304407527486.58, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 64435430954225.65, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 66219689459525.28, tolerance: 184875043672.3557
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1145895934484.2969, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 5251018047699.609, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 19250135334280.92, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 32316160673678.97, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 52573056794005.2, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 60430089996029.125, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 64084065847681.25, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:617: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 65916776343750.516, tolerance: 184083558034.64145
  model = cd_fast.enet_coordinate_descent_gram(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.545e+13, tolerance: 2.304e+11
  model = cd_fast.enet_coordinate_descent(

LassoCV(alphas=array([1.00000000e-03, 2.78255940e-03, 7.74263683e-03, 2.15443469e-02,
       5.99484250e-02, 1.66810054e-01, 4.64158883e-01, 1.29154967e+00,
       3.59381366e+00, 1.00000000e+01]),
        cv=5)

In [33]:
lassocv.alpha_

0.001

In [34]:
lasso = Lasso(alpha=lassocv.alpha_)

lasso_scores = cross_val_score(lasso, Z_train, y_train)

print (lasso_scores)
print (np.mean(lasso_scores))

C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.827e+13, tolerance: 1.839e+11
  model = cd_fast.enet_coordinate_descent(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.807e+13, tolerance: 1.839e+11
  model = cd_fast.enet_coordinate_descent(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.830e+13, tolerance: 1.850e+11
  model = cd_fast.enet_coordinate_descent(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.863e+13, tolerance: 1.849e+11
  model = cd_fast.enet_coordinate_descent(
C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.782e+13, tolerance: 1.841e+11
  model = cd_fast.enet_coordinate_descent(

[0.92492638 0.92436544 0.92347895 0.92482993 0.9226332 ]
0.924046781315439

In [35]:
#Retrain ridge
lasso.fit(Z_train, y_train)

#Generate predictions
y_train_preds = lasso.predict(Z_train)
y_test_preds = lasso.predict(Z_test)

C:\Users\benja\mambaforge\envs\dsi-sg\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.545e+13, tolerance: 2.304e+11
  model = cd_fast.enet_coordinate_descent(

In [36]:
# Train score:
lasso_train_score = lasso.score(Z_train, y_train)
lasso_train_score

0.925485335015581

In [37]:
# Test  score:
lasso_test_score = lasso.score(Z_test, y_test)
lasso_test_score

0.9241138135893248

In [38]:
#MSE
train_MSE = mean_squared_error(y_train, y_train_preds)
test_MSE = mean_squared_error(y_test, y_test_preds)
#RMSE 
print(np.sqrt(train_MSE))
print(np.sqrt(test_MSE))

39097.74563528389
39452.04453138137

In [39]:
coefs_df = pd.DataFrame(list(zip(Z_train.columns, abs(lassocv.coef_))))
coefs_df.sort_values(by = 1, ascending = True)

                                        0              1
41            flat_model_Multi Generation      60.451648
815     sec_sch_name_Catholic High School      81.563485
855  sec_sch_name_Loyang Secondary School     144.112137
834  sec_sch_name_Fuchun Secondary School     156.204017
104              street_name_BOON LAY AVE     166.042094
..                                    ...            ...
339               street_name_MARINE CRES  282847.920392
201             street_name_DOVER CL EAST  298001.904834
340                 street_name_MARINE DR  298643.437636
175             street_name_CLARENCE LANE  328834.109270
47                     flat_model_Terrace  434380.080706

[924 rows x 2 columns]

### Results Analysis

| Version | Score Description | Linear Regression | Ridge Regression | Lasso Regression |
|---------|-------------------|-------------------|------------------|------------------|
| V1      | Train Score       | 0.92618           | 0.92618          | 0.92615          |
| V1      | Test Score        | -6846639454563    | 0.92476          | 0.92473          |
| V1      | Train RMSE        | 38915.20          | 38915.67         | 38922.83         |
| V1      | Test RMSE         | 374737262352      | 39283.65         | 39291.22         |
| V3      | Train Score       | 0.92552           | 0.92551          | 0.92411          |
| V3      | Test Score        | -1564517453.13769 | 0.92415          | 0.92446          |
| V3      | Train RMSE        | 39089.89          | 39090.38         | 39097.75         |
| V3      | Test RMSE         | 5664718809        | 39443.09         | 39452.04         |    |

Similar to v1 & v2, there still steems to be some discrepant results with the Linear regresison model. Nerver theless, the Ridge regression models and Lasso regression models retain a consistent score between the train and test sets as well as between the different version. 
As before, the convergence warning occuring with the Lasso regression mesn there is likely  some issues with the features, either too little, too many or some of the features itself. In this case, with 900 columns, it is possible there is too many or the features may be problematic.

One possible instance is the flat_type and flat_model. It may be that there are some duplicity due to the flat_models only appearing in flat types. Another iteration would be tried without flat_models. This would serve to reduce the run time as well.

###

# Pickling in progress

In [40]:
import pickle

In [41]:
pickle.dump(lr, open('lr.pkl', 'wb'))

In [42]:
pickle.dump(ridgecv, open('ridgecv.pkl', 'wb'))

In [44]:
pickle.dump(lassocv, open('lassocv.pkl', 'wb'))

## Predictions

In [45]:
exam = pd.read_csv('../../data/test.csv')

C:\Users\benja\AppData\Local\Temp\ipykernel_10756\3863900838.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  exam = pd.read_csv('../../data/test.csv')

In [46]:
def bool_converter(df, feature):
    for n in feature:
        df[n].replace({'Y': 1, 'N' : 0}, inplace = True)

In [47]:
object_features = ['commercial', 'market_hawker', 'multistorey_carpark', 'precinct_pavilion']
bool_converter(exam, object_features)

In [48]:
exam['Hawker_Within_500m'].replace([np.nan], 0, inplace = True)
exam['Hawker_Within_1km'].replace([np.nan], 0, inplace = True)
exam['Hawker_Within_2km'].replace([np.nan], 0, inplace = True)

exam['Mall_Within_500m'].replace([np.nan], 0, inplace = True)
exam['Mall_Within_1km'].replace([np.nan], 0, inplace = True)
exam['Mall_Within_2km'].replace([np.nan], 0, inplace = True)

In [49]:
choose_mask = pd.read_csv('../../data/dataset_description_chosen.csv')
mask_list = list(choose_mask.loc[choose_mask['Decision( 1 = Accept, 0 = Reject)'] == 0, 'Codebook / Data Dictionary'])

In [50]:
#feature engineer
exam['transaction_age'] = exam['Tranc_Year'] - exam['lease_commence_date']
exam.drop(columns = ['lease_commence_date'], inplace = True)

In [51]:
#set up csv as a drop list with the inclusion of id.
exam.drop(columns = mask_list, inplace = True)
exam.drop(columns = drop_list, inplace = True)

In [52]:
exam.isnull().sum()

id                            0
flat_type                     0
street_name                   0
floor_area_sqm                0
flat_model                    0
Tranc_Year                    0
Tranc_Month                   0
mid                           0
max_floor_lvl                 0
commercial                    0
market_hawker                 0
multistorey_carpark           0
precinct_pavilion             0
planning_area                 0
Mall_Nearest_Distance        84
Mall_Within_500m              0
Mall_Within_1km               0
Mall_Within_2km               0
Hawker_Nearest_Distance       0
Hawker_Within_500m            0
Hawker_Within_1km             0
Hawker_Within_2km             0
mrt_nearest_distance          0
bus_interchange               0
mrt_interchange               0
bus_stop_nearest_distance     0
pri_sch_nearest_distance      0
pri_sch_name                  0
pri_sch_affiliation           0
sec_sch_name                  0
cutoff_point                  0
transaction_age               0
dtype: int64

In [53]:
exam['Mall_Nearest_Distance'].replace(np.nan,0, inplace = True)

In [54]:
id_frame = exam[['id']]
id_frame

           id
0      114982
1       95653
2       40303
3      109506
4      100149
...       ...
16732   23347
16733   54003
16734  128921
16735   69352
16736  146210

[16737 rows x 1 columns]

In [55]:
X_exam_num = pd.DataFrame(ss.transform(exam[num_feat]))
X_exam_num.columns = exam[num_feat].columns

In [56]:
X_exam_cat_df = exam[cat_feat].reset_index()
X_exam_cat_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                16737 non-null  int64
 1   flat_type            16737 non-null  object
 2   flat_model           16737 non-null  object
 3   street_name          16737 non-null  object
 4   commercial           16737 non-null  int64
 5   market_hawker        16737 non-null  int64
 6   multistorey_carpark  16737 non-null  int64
 7   precinct_pavilion    16737 non-null  int64
 8   planning_area        16737 non-null  object
 9   bus_interchange      16737 non-null  int64
 10  mrt_interchange      16737 non-null  int64
 11  pri_sch_name         16737 non-null  object
 12  pri_sch_affiliation  16737 non-null  int64
 13  sec_sch_name         16737 non-null  object
dtypes: int64(8), object(6)
memory usage: 1.8+ MB

In [57]:
exam_OHE_cat_df = pd.DataFrame(OHE.transform(X_exam_cat_df[cat_list]), columns = OHE.get_feature_names_out())
exam_OHE_cat_df.tail()

,flat_type_1 ROOM,flat_type_2 ROOM,flat_type_3 ROOM,flat_type_4 ROOM,flat_type_5 ROOM,flat_type_EXECUTIVE,flat_type_MULTI-GENERATION,flat_model_Adjoined flat,flat_model_Apartment,flat_model_DBSS,...,sec_sch_name_Yio Chu Kang Secondary School,sec_sch_name_Yishun Secondary School,sec_sch_name_Yishun Town Secondary School,sec_sch_name_Yuan Ching Secondary School,sec_sch_name_Yuhua Secondary School,sec_sch_name_Yusof Ishak Secondary School,sec_sch_name_Yuying Secondary School,sec_sch_name_Zhenghua Secondary School,sec_sch_name_Zhonghua Secondary School,sec_sch_name_infrequent_sklearn
16732,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16733,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16734,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16735,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16736,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
X_exam_cat_df = pd.concat([X_exam_cat_df, exam_OHE_cat_df], axis = 1)
X_exam_cat_df.drop(columns = cat_list, inplace = True)

In [59]:
#concat test set
Z_exam = pd.concat([X_exam_num, X_exam_cat_df], axis = 1)
Z_exam.set_index('index', inplace = True)

In [60]:
Z_exam.isna().sum()

Mall_Within_1km                              0
Mall_Nearest_Distance                        0
Mall_Within_2km                              0
Hawker_Within_500m                           0
Tranc_Year                                   0
                                            ..
sec_sch_name_Yusof Ishak Secondary School    0
sec_sch_name_Yuying Secondary School         0
sec_sch_name_Zhenghua Secondary School       0
sec_sch_name_Zhonghua Secondary School       0
sec_sch_name_infrequent_sklearn              0
Length: 924, dtype: int64

In [75]:
y_exam_preds = ridge.predict(Z_exam)

In [76]:
y_exam_preds_df = pd.DataFrame(y_exam_preds, columns = ['resale_price'])

In [77]:
submission_df = pd.concat([id_frame, y_exam_preds_df], axis = 1)

In [78]:
submission_df

           id   resale_price
0      114982  337310.175883
1       95653  480257.148515
2       40303  339687.115918
3      109506  314495.830653
4      100149  452504.956058
...       ...            ...
16732   23347  355668.285701
16733   54003  499357.650207
16734  128921  381430.375087
16735   69352  503212.969660
16736  146210  374178.399391

[16737 rows x 2 columns]

In [79]:
submission_df.rename(columns={'id': 'Id','resale_price': 'Predicted'}, inplace = True)

In [80]:
#data export to already created output folder
submission_df.to_csv('../../data/output/submission_df.csv', index = False)